@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Areas.Identity.Pages.Account.Manage
@inject Microsoft.Extensions.Localization.IStringLocalizer<Binit.Framework.SharedResources> localizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>@localizer[Lang.Title]</h1>

<div>
    <h4>@localizer[Lang.Subtitle]</h4>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-sm-12 col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
