@page
@model ChangePasswordModel
@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Areas.Identity.Pages.Account.ChangePassword
@inject Microsoft.Extensions.Localization.IStringLocalizer<Binit.Framework.SharedResources> localizer
@{
    ViewData["Title"] = localizer[Lang.Title];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h3 class="box-title">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" class="floating-labels" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <!-- Old Password -->
            <div class="form-group m-t-40 m-b-40">
                <input asp-for="Input.OldPassword" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.OldPassword"></label>
            </div>

            <!-- New Password -->
            <div class="form-group m-b-40">
                <input asp-for="Input.NewPassword" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.NewPassword"></label>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.ConfirmPassword"></label>
            </div>
            
            <button type="submit" class="btn btn-primary">@localizer[Lang.SubmitButton]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}