@page
@model IndexModel
@using WebApp.Models
@using WebApp.WebTools
@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Areas.Identity.Pages.Account.Profile
@inject Microsoft.Extensions.Localization.IStringLocalizer<Binit.Framework.SharedResources> localizer

@{
    ViewData["Title"] = localizer[Lang.Title];
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h3 class="box-title">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-sm-12">
		@{
            var photos = new List<FileViewModel>();
			if(Model.Photo != null)
			{
                photos.Add(Model.Photo);
			}
            @await Html.PartialAsync("_FileManager", photos, 
            new FileManagerOptions(ViewData, localizer) { 
                UploadEnabled = true,
                MaxFileSize = 2,
                MaxFiles = 1,
                ParentFormId = "profile-form",
                PropertyName = "Input.PhotoId",
				AcceptedMimeTypes = "image/jpeg,image/jpeg,image/png"
            });
		}
        <form id="profile-form" method="post" enctype="multipart/form-data" class="floating-labels">
            <div asp-validation-summary="All" class="text-danger"></div>

            <!-- Username -->
            <div class="form-group m-t-40 m-b-40">
                <input asp-for="Username" class="form-control" disabled />
                <span class="bar"></span>
                <label asp-for="Username"></label>
            </div>

            <!-- Email -->
            <div class="form-group m-b-40">
                
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control mb-2" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-secondary">@localizer[Lang.SendVerificationEmail]</button>
                }
                <span class="bar"></span>
                <label asp-for="Email"></label>
            </div>

            <!-- Name -->
            <div class="form-group m-b-40">
                <input asp-for="Input.Name" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.Name"></label>
            </div>

            <!-- LastName -->
            <div class="form-group m-b-40">
                <input asp-for="Input.LastName" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.LastName"></label>
            </div>

            <!-- PhoneNumber -->
            <div class="form-group">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.PhoneNumber"></label>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">@localizer[Lang.SubmitButton]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
	<script>
		$(function() {
			DropzoneFileManagerInit();
            DropzoneExcelImportInit();
		})
	</script>
}