@page
@model SetPasswordModel
@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Areas.Identity.Pages.Account.SetPassword
@inject Microsoft.Extensions.Localization.IStringLocalizer<Binit.Framework.SharedResources> localizer
@{
    ViewData["Title"] = localizer[Lang.Title];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
	Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h4>@localizer[Lang.Subtitle]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    @localizer[Lang.ParagraphOne]
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post" class="floating-labels">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <!-- New Password -->
            <div class="form-group m-t-40 m-b-40">
                <input asp-for="Input.NewPassword" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.NewPassword"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span class="bar"></span>
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@localizer[Lang.SubmitButton]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}