@model WebApp.Models.CategoryViewModel;

@using Binit.Framework;
@using Microsoft.Extensions.Localization;

@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Views.Category.Details;
@inject IStringLocalizer<SharedResources> localizer

<ignite-input for-property="Name" disabled></ignite-input>
<ignite-textarea for-property="Description" disabled></ignite-textarea>

<button type="button" class="btn btn-secondary mr-2" 
        onclick="window.location.href='@Url.Action("Index","Category")'">@(localizer[Lang.BtnBack])</button>