@model WebApp.Models.PeliculaViewModel;

@using Binit.Framework
@using Microsoft.Extensions.Localization

@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Views.Pelicula.Details
@inject IStringLocalizer<SharedResources> localizer

<ignite-input for-property="Name" disabled></ignite-input>
<ignite-textarea for-property="Description" disabled></ignite-textarea>

@{
    if(!string.IsNullOrEmpty(Model.Genero)) 
	{
		<ignite-input for-property="Genero" disabled></ignite-input>
    }

    
}


<button type="button" class="btn btn-secondary mr-2" 
        onclick="window.location.href='@Url.Action("Index","Pelicula")'">@(localizer[Lang.BtnBack])</button>